/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/coolvetica_rg.otf') format('opentype');
  }

  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf')
  }

  html, body{
    @apply bg-slate-100/50 font-primary text-lg text-gray-900
  }

  h1{
    @apply text-2xl font-semibold
  }

  h2{
    @apply text-xl font-semibold
  }

  h3{
    @apply text-lg font-semibold
  }

  p{
    @apply my-3
  }
}